<!-- HEADER -->
{% if page.header_special %}
  <header class="bg-secondary" role="special-message">
    {{ page.header_special }}
  </header>
{% endif %}
<header role="banner-brand" id="header-brand">
  <div class="container-fluid" style="position: relative">
    <div class="nav-cover"></div>
    <nav role="main-navigation" class="navbar navbar-expand-xl p-0">

      <!-- branding header -->
      <div class="nav-brand-wrapper">
        <div class="d-flex flex-md-column align-items-md-start">
          <div class="d-md-flex">
            <div class="d-md-flex align-items-center">
              <a class="navbar-brand d-flex text-white align-items-center" href="{{ front_page }}">{{ site_name }}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- button collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
              aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
        <div class="text-navbar">{{ 'Menu'|t }}</div>
        <div id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <!-- button collapse -->

      <!-- navbar collapse / mobile Menu -->
      <div class="pt-1 collapse navbar-collapse position-relative justify-content-center" id="main-nav">

        <!-- nav_main -->
        <div id="menu-main" class="search-effect">
          {{ page.nav_main }}
        </div>
        <!-- nav_main -->

        <!-- nav_additional -->
        <div id="menu-add">
          {{ page.nav_add }}
        </div>
        <!-- nav_additional -->

      </div>
      <!-- navbar collapse / mobile Menu -->
    </nav>
  </div>
</header>
<!-- HEADER -->
