{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% set row_attribute = create_attribute() %}
{% set inner_attribute = create_attribute() %}

{% set row_classes = [
  default_row_class ? 'content_wrapper', 'col-12', 'col-sm-12', 'col-md-4', 'col-lg-4', 'col-xl-4'
] %}
{% set relative_classes = ['card', 'w-100'] %}


<div class="row">
 {% for row in rows %}
 {% set title = row.content['#row']._entity.translation(lang).title.value %}
 {% set body = row.content['#row']._entity.translation(lang).body.value %}
<div{{ row_attribute.addClass(row_classes) }}>
  <div {{ inner_attribute.addClass(relative_classes) }}>
  <img class="card-img-top p-3" src="{{ file_url(row['content']['#row']._entity.translation(lang).field_images.entity.fileuri) }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ title|length > 20 ? title|slice(0, 20)|raw ~ ' ...' : title|raw }}</h5>
    <p class="card-text">{{ body|length > 50 ? body|slice(0, 50)|raw ~ ' ...' : body|raw }}</p>
    <a href="/{{ lang }}/node/{{ row.content['#row']._entity.get('nid').value }}" class="btn button--black d-block m-auto">{{'Learn more'|t}}</a>
  </div>
</div>
</div>
{% endfor %}
</div>
