{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

<div{{ attributes.addClass(classes, home) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}

    <section class="home-page-banner"
             style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 10%, rgba(22, 22, 22, 0.5) 75%, #161616 100%),url({{ content.field_banner|field_value }});  background-position: center;
               background-repeat: no-repeat; background-attachment: scroll; background-size: cover;">
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-lg-12 d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
              <h1 class="mx-auto my-0 text-uppercase">{{ content.field_site_name }}</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ content.field_site_slogan }}</h2>
              <a href="#about" class="btn btn-vinous js-scroll-trigger">{{ 'Learn more'|t }}</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}
</div>
